In [1]:
import numpy as np

import pandas as pd
 
import matplotlib.pyplot as plt
 
import statsmodels.api as sm
 
import seaborn
 
seaborn.set()

In [2]:
df = pd.read_csv("C:/Users/aayushi/Desktop/Kashish sem-6/ML/Practical-2/Housing.csv" )
df.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [3]:
x1= df[['lotsize']]

y=df[['price']]

In [4]:
x = sm.add_constant(x1)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.287
Model:                            OLS   Adj. R-squared:                  0.286
Method:                 Least Squares   F-statistic:                     219.1
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           6.77e-42
Time:                        21:55:14   Log-Likelihood:                -6247.0
No. Observations:                 546   AIC:                         1.250e+04
Df Residuals:                     544   BIC:                         1.251e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.414e+04   2491.064     13.703      0.000    2.92e+04     3.9e+04
lotsize        6.5988      0.446     14.801      0.000       5.723       7.475
==============================================================================
Omnibus:                       92.458   Durbin-Watson:                   1.089
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              183.169
Skew:                           0.951   Prob(JB):                     1.68e-40
Kurtosis:                       5.105   Cond. No.                     1.44e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [5]:
x2= df[['bedrooms']]

y=df[['price']]

In [6]:
x = sm.add_constant(x2)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.134
Model:                            OLS   Adj. R-squared:                  0.133
Method:                 Least Squares   F-statistic:                     84.38
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           8.53e-19
Time:                        21:55:14   Log-Likelihood:                -6300.0
No. Observations:                 546   AIC:                         1.260e+04
Df Residuals:                     544   BIC:                         1.261e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.877e+04   4413.753      6.519      0.000    2.01e+04    3.74e+04
bedrooms    1.327e+04   1444.598      9.186      0.000    1.04e+04    1.61e+04
==============================================================================
Omnibus:                       91.631   Durbin-Watson:                   0.812
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              162.283
Skew:                           0.994   Prob(JB):                     5.76e-36
Kurtosis:                       4.784   Cond. No.                         14.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [7]:
x3= df[['bathrms']]

y=df[['price']]

In [8]:
x = sm.add_constant(x3)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.267
Model:                            OLS   Adj. R-squared:                  0.266
Method:                 Least Squares   F-statistic:                     198.2
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.34e-38
Time:                        21:55:14   Log-Likelihood:                -6254.6
No. Observations:                 546   AIC:                         1.251e+04
Df Residuals:                     544   BIC:                         1.252e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.279e+04   2693.939     12.173      0.000    2.75e+04    3.81e+04
bathrms     2.748e+04   1951.944     14.077      0.000    2.36e+04    3.13e+04
==============================================================================
Omnibus:                       87.545   Durbin-Watson:                   1.013
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              177.161
Skew:                           0.897   Prob(JB):                     3.39e-39
Kurtosis:                       5.138   Cond. No.                         5.61
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
x4= df[['stories']]

y=df[['price']]

In [10]:
x = sm.add_constant(x4)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.176
Method:                 Least Squares   F-statistic:                     117.3
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           6.87e-25
Time:                        21:55:15   Log-Likelihood:                -6286.0
No. Observations:                 546   AIC:                         1.258e+04
Df Residuals:                     544   BIC:                         1.258e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        4.47e+04   2398.000     18.642      0.000       4e+04    4.94e+04
stories     1.295e+04   1195.992     10.831      0.000    1.06e+04    1.53e+04
==============================================================================
Omnibus:                      129.690   Durbin-Watson:                   0.882
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              282.790
Skew:                           1.262   Prob(JB):                     3.92e-62
Kurtosis:                       5.463   Cond. No.                         5.61
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
dummy=pd.get_dummies(df['driveway'])
dummy.head()

   no  yes
0   0    1
1   0    1
2   0    1
3   0    1
4   0    1

In [12]:
df1=pd.concat((df,dummy),axis=1)

In [13]:
df1.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea,no,yes
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no,0,1
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no,0,1
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no,0,1
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no,0,1
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no,0,1

In [14]:
df1=df1.drop(['driveway','no'],axis=1)
df1.head()
df1.rename(columns={"yes":"driveway"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,prefarea,driveway
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,no,1
1,2,38500.0,4000,2,1,1,no,no,no,no,0,no,1
2,3,49500.0,3060,3,1,1,no,no,no,no,0,no,1
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,no,1
4,5,61000.0,6360,2,1,1,no,no,no,no,0,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,yes,no,no,yes,0,no,1
542,543,94000.0,6000,3,2,4,no,no,no,yes,0,no,1
543,544,103000.0,6000,3,2,4,yes,no,no,yes,1,no,1
544,545,105000.0,6000,3,2,2,yes,no,no,yes,1,no,1
545,546,105000.0,6000,3,1,2,no,no,no,yes,1,no,1

In [15]:
x5= df1[['yes']]

y=df1[['price']]

In [16]:
x = sm.add_constant(x5)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.088
Model:                            OLS   Adj. R-squared:                  0.087
Method:                 Least Squares   F-statistic:                     52.69
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.35e-12
Time:                        21:55:15   Log-Likelihood:                -6314.1
No. Observations:                 546   AIC:                         1.263e+04
Df Residuals:                     544   BIC:                         1.264e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.856e+04   2908.253     16.696      0.000    4.28e+04    5.43e+04
yes         2.278e+04   3137.922      7.259      0.000    1.66e+04    2.89e+04
==============================================================================
Omnibus:                      114.203   Durbin-Watson:                   0.820
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              224.471
Skew:                           1.164   Prob(JB):                     1.81e-49
Kurtosis:                       5.109   Cond. No.                         5.15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
dummy1=pd.get_dummies(df['recroom'])
dummy1.head()

   no  yes
0   1    0
1   1    0
2   1    0
3   0    1
4   1    0

In [18]:
df2=pd.concat((df1,dummy1),axis=1)
df2.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,recroom,fullbase,gashw,airco,garagepl,prefarea,yes,no,yes
0,1,42000.0,5850,3,1,2,no,yes,no,no,1,no,1,1,0
1,2,38500.0,4000,2,1,1,no,no,no,no,0,no,1,1,0
2,3,49500.0,3060,3,1,1,no,no,no,no,0,no,1,1,0
3,4,60500.0,6650,3,1,2,yes,no,no,no,0,no,1,0,1
4,5,61000.0,6360,2,1,1,no,no,no,no,0,no,1,1,0

In [19]:
df2=df2.drop(['recroom','no'],axis=1)
df2.head()
df2.rename(columns={"yes":"recroom"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,fullbase,gashw,airco,garagepl,prefarea,recroom,recroom
0,1,42000.0,5850,3,1,2,yes,no,no,1,no,1,0
1,2,38500.0,4000,2,1,1,no,no,no,0,no,1,0
2,3,49500.0,3060,3,1,1,no,no,no,0,no,1,0
3,4,60500.0,6650,3,1,2,no,no,no,0,no,1,1
4,5,61000.0,6360,2,1,1,no,no,no,0,no,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,no,no,yes,0,no,1,1
542,543,94000.0,6000,3,2,4,no,no,yes,0,no,1,0
543,544,103000.0,6000,3,2,4,no,no,yes,1,no,1,1
544,545,105000.0,6000,3,2,2,no,no,yes,1,no,1,1
545,546,105000.0,6000,3,1,2,no,no,yes,1,no,1,0

In [20]:
x6= df2[['yes']]

y=df2[['price']]

In [21]:
x = sm.add_constant(x6)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.141
Model:                            OLS   Adj. R-squared:                  0.137
Method:                 Least Squares   F-statistic:                     44.41
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.38e-18
Time:                        21:55:15   Log-Likelihood:                -6298.0
No. Observations:                 546   AIC:                         1.260e+04
Df Residuals:                     543   BIC:                         1.261e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        4.71e+04   2837.618     16.598      0.000    4.15e+04    5.27e+04
yes         2.116e+04   3062.442      6.909      0.000    1.51e+04    2.72e+04
yes         1.602e+04   2788.628      5.746      0.000    1.05e+04    2.15e+04
==============================================================================
Omnibus:                      137.449   Durbin-Watson:                   0.895
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              321.949
Skew:                           1.300   Prob(JB):                     1.23e-70
Kurtosis:                       5.718   Cond. No.                         5.20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
dummy2=pd.get_dummies(df['fullbase'])
dummy2.head()

   no  yes
0   0    1
1   1    0
2   1    0
3   1    0
4   1    0

In [23]:
df3=pd.concat((df2,dummy2),axis=1)
df3.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,fullbase,gashw,airco,garagepl,prefarea,yes,yes,no,yes
0,1,42000.0,5850,3,1,2,yes,no,no,1,no,1,0,0,1
1,2,38500.0,4000,2,1,1,no,no,no,0,no,1,0,1,0
2,3,49500.0,3060,3,1,1,no,no,no,0,no,1,0,1,0
3,4,60500.0,6650,3,1,2,no,no,no,0,no,1,1,1,0
4,5,61000.0,6360,2,1,1,no,no,no,0,no,1,0,1,0

In [24]:
df3=df3.drop(['fullbase','no'],axis=1)
df3.head()
df3.rename(columns={"yes":"fullbase"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,gashw,airco,garagepl,prefarea,fullbase,fullbase,fullbase
0,1,42000.0,5850,3,1,2,no,no,1,no,1,0,1
1,2,38500.0,4000,2,1,1,no,no,0,no,1,0,0
2,3,49500.0,3060,3,1,1,no,no,0,no,1,0,0
3,4,60500.0,6650,3,1,2,no,no,0,no,1,1,0
4,5,61000.0,6360,2,1,1,no,no,0,no,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,no,yes,0,no,1,1,0
542,543,94000.0,6000,3,2,4,no,yes,0,no,1,0,0
543,544,103000.0,6000,3,2,4,no,yes,1,no,1,1,0
544,545,105000.0,6000,3,2,2,no,yes,1,no,1,1,0
545,546,105000.0,6000,3,1,2,no,yes,1,no,1,0,0

In [25]:
x7= df3[['yes']]

y=df3[['price']]

In [26]:
x = sm.add_constant(x7)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.150
Model:                            OLS   Adj. R-squared:                  0.145
Method:                 Least Squares   F-statistic:                     31.81
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           5.95e-19
Time:                        21:55:16   Log-Likelihood:                -6295.1
No. Observations:                 546   AIC:                         1.260e+04
Df Residuals:                     542   BIC:                         1.262e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.562e+04   2890.730     15.782      0.000    3.99e+04    5.13e+04
yes         2.109e+04   3049.070      6.916      0.000    1.51e+04    2.71e+04
yes         1.335e+04   2988.855      4.467      0.000    7480.456    1.92e+04
yes         5763.2974   2387.530      2.414      0.016    1073.352    1.05e+04
==============================================================================
Omnibus:                      137.849   Durbin-Watson:                   0.889
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              320.955
Skew:                           1.307   Prob(JB):                     2.02e-70
Kurtosis:                       5.697   Cond. No.                         5.45
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [27]:
dummy3=pd.get_dummies(df['gashw'])
dummy3.head()

   no  yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [28]:
df4=pd.concat((df3,dummy3),axis=1)
df4.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,gashw,airco,garagepl,prefarea,yes,yes,yes,no,yes
0,1,42000.0,5850,3,1,2,no,no,1,no,1,0,1,1,0
1,2,38500.0,4000,2,1,1,no,no,0,no,1,0,0,1,0
2,3,49500.0,3060,3,1,1,no,no,0,no,1,0,0,1,0
3,4,60500.0,6650,3,1,2,no,no,0,no,1,1,0,1,0
4,5,61000.0,6360,2,1,1,no,no,0,no,1,0,0,1,0

In [29]:
df4=df4.drop(['gashw','no'],axis=1)
df4.head()
df4.rename(columns={"yes":"gashw"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,airco,garagepl,prefarea,gashw,gashw,gashw,gashw
0,1,42000.0,5850,3,1,2,no,1,no,1,0,1,0
1,2,38500.0,4000,2,1,1,no,0,no,1,0,0,0
2,3,49500.0,3060,3,1,1,no,0,no,1,0,0,0
3,4,60500.0,6650,3,1,2,no,0,no,1,1,0,0
4,5,61000.0,6360,2,1,1,no,0,no,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,yes,0,no,1,1,0,0
542,543,94000.0,6000,3,2,4,yes,0,no,1,0,0,0
543,544,103000.0,6000,3,2,4,yes,1,no,1,1,0,0
544,545,105000.0,6000,3,2,2,yes,1,no,1,1,0,0
545,546,105000.0,6000,3,1,2,yes,1,no,1,0,0,0

In [30]:
x8= df4[['yes']]

y=df4[['price']]

In [31]:
x = sm.add_constant(x8)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.159
Model:                            OLS   Adj. R-squared:                  0.153
Method:                 Least Squares   F-statistic:                     25.61
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.86e-19
Time:                        21:55:16   Log-Likelihood:                -6292.0
No. Observations:                 546   AIC:                         1.259e+04
Df Residuals:                     541   BIC:                         1.262e+04
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.498e+04   2888.702     15.572      0.000    3.93e+04    5.07e+04
yes         2.117e+04   3034.936      6.976      0.000    1.52e+04    2.71e+04
yes         1.344e+04   2975.022      4.517      0.000    7594.706    1.93e+04
yes         5709.1052   2376.415      2.402      0.017    1040.974    1.04e+04
yes         1.246e+04   5032.307      2.476      0.014    2572.383    2.23e+04
==============================================================================
Omnibus:                      140.148   Durbin-Watson:                   0.900
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              336.832
Skew:                           1.313   Prob(JB):                     7.21e-74
Kurtosis:                       5.812   Cond. No.                         6.74
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [32]:
dummy4=pd.get_dummies(df['airco'])
dummy4.head()

   no  yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [33]:
df5=pd.concat((df4,dummy4),axis=1)
df5.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,airco,garagepl,prefarea,yes,yes,yes,yes,no,yes
0,1,42000.0,5850,3,1,2,no,1,no,1,0,1,0,1,0
1,2,38500.0,4000,2,1,1,no,0,no,1,0,0,0,1,0
2,3,49500.0,3060,3,1,1,no,0,no,1,0,0,0,1,0
3,4,60500.0,6650,3,1,2,no,0,no,1,1,0,0,1,0
4,5,61000.0,6360,2,1,1,no,0,no,1,0,0,0,1,0

In [34]:
df5=df5.drop(['airco','no'],axis=1)
df5.head()
df5.rename(columns={"yes":"airco"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,garagepl,prefarea,airco,airco,airco,airco,airco
0,1,42000.0,5850,3,1,2,1,no,1,0,1,0,0
1,2,38500.0,4000,2,1,1,0,no,1,0,0,0,0
2,3,49500.0,3060,3,1,1,0,no,1,0,0,0,0
3,4,60500.0,6650,3,1,2,0,no,1,1,0,0,0
4,5,61000.0,6360,2,1,1,0,no,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,0,no,1,1,0,0,1
542,543,94000.0,6000,3,2,4,0,no,1,0,0,0,1
543,544,103000.0,6000,3,2,4,1,no,1,1,0,0,1
544,545,105000.0,6000,3,2,2,1,no,1,1,0,0,1
545,546,105000.0,6000,3,1,2,1,no,1,0,0,0,1

In [35]:
x9= df5[['yes']]

y=df5[['price']]

In [36]:
x = sm.add_constant(x9)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.331
Model:                            OLS   Adj. R-squared:                  0.325
Method:                 Least Squares   F-statistic:                     53.55
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           3.94e-45
Time:                        21:55:16   Log-Likelihood:                -6229.4
No. Observations:                 546   AIC:                         1.247e+04
Df Residuals:                     540   BIC:                         1.250e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.018e+04   2610.167     15.395      0.000    3.51e+04    4.53e+04
yes         1.814e+04   2720.956      6.667      0.000    1.28e+04    2.35e+04
yes         9614.0806   2675.045      3.594      0.000    4359.310    1.49e+04
yes         5858.2681   2121.077      2.762      0.006    1691.694       1e+04
yes         1.939e+04   4529.774      4.280      0.000    1.05e+04    2.83e+04
yes         2.434e+04   2063.444     11.795      0.000    2.03e+04    2.84e+04
==============================================================================
Omnibus:                      135.960   Durbin-Watson:                   1.180
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              375.202
Skew:                           1.213   Prob(JB):                     3.36e-82
Kurtosis:                       6.256   Cond. No.                         7.01
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [37]:
x10= df[['garagepl']]

y=df[['price']]

In [38]:
x = sm.add_constant(x10)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.147
Model:                            OLS   Adj. R-squared:                  0.145
Method:                 Least Squares   F-statistic:                     93.69
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.50e-20
Time:                        21:55:16   Log-Likelihood:                -6296.0
No. Observations:                 546   AIC:                         1.260e+04
Df Residuals:                     544   BIC:                         1.260e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.989e+04   1355.917     44.173      0.000    5.72e+04    6.26e+04
garagepl    1.188e+04   1227.700      9.679      0.000    9471.713    1.43e+04
==============================================================================
Omnibus:                       68.760   Durbin-Watson:                   0.888
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               96.152
Skew:                           0.892   Prob(JB):                     1.32e-21
Kurtosis:                       4.022   Cond. No.                         2.10
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [39]:
dummy5=pd.get_dummies(df['prefarea'])
dummy5.head()

   no  yes
0   1    0
1   1    0
2   1    0
3   1    0
4   1    0

In [40]:
df6=pd.concat((df5,dummy5),axis=1)
df6.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,garagepl,prefarea,yes,yes,yes,yes,yes,no,yes
0,1,42000.0,5850,3,1,2,1,no,1,0,1,0,0,1,0
1,2,38500.0,4000,2,1,1,0,no,1,0,0,0,0,1,0
2,3,49500.0,3060,3,1,1,0,no,1,0,0,0,0,1,0
3,4,60500.0,6650,3,1,2,0,no,1,1,0,0,0,1,0
4,5,61000.0,6360,2,1,1,0,no,1,0,0,0,0,1,0

In [41]:
df6=df6.drop(['prefarea','no'],axis=1)
df6.head()
df6.rename(columns={"yes":"prefarea"})

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,garagepl,prefarea,prefarea,prefarea,prefarea,prefarea,prefarea
0,1,42000.0,5850,3,1,2,1,1,0,1,0,0,0
1,2,38500.0,4000,2,1,1,0,1,0,0,0,0,0
2,3,49500.0,3060,3,1,1,0,1,0,0,0,0,0
3,4,60500.0,6650,3,1,2,0,1,1,0,0,0,0
4,5,61000.0,6360,2,1,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,542,91500.0,4800,3,2,4,0,1,1,0,0,1,0
542,543,94000.0,6000,3,2,4,0,1,0,0,0,1,0
543,544,103000.0,6000,3,2,4,1,1,1,0,0,1,0
544,545,105000.0,6000,3,2,2,1,1,1,0,0,1,0
545,546,105000.0,6000,3,1,2,1,1,0,0,0,1,0

In [42]:
x11= df6[['yes']]

y=df6[['price']]

In [43]:
x = sm.add_constant(x11)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.374
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     53.68
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           7.67e-52
Time:                        21:55:17   Log-Likelihood:                -6211.5
No. Observations:                 546   AIC:                         1.244e+04
Df Residuals:                     539   BIC:                         1.247e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.073e+04   2529.634     16.102      0.000    3.58e+04    4.57e+04
yes         1.519e+04   2679.988      5.668      0.000    9924.741    2.05e+04
yes         8672.5319   2595.517      3.341      0.001    3573.963    1.38e+04
yes         3486.6753   2091.325      1.667      0.096    -621.471    7594.821
yes         2.071e+04   4392.684      4.715      0.000    1.21e+04    2.93e+04
yes         2.342e+04   2004.207     11.687      0.000    1.95e+04    2.74e+04
yes         1.371e+04   2263.492      6.055      0.000    9259.464    1.82e+04
==============================================================================
Omnibus:                      132.166   Durbin-Watson:                   1.188
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              348.771
Skew:                           1.197   Prob(JB):                     1.84e-76
Kurtosis:                       6.098   Cond. No.                         7.14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [44]:
x12= df[['lotsize','bathrms','bedrooms']]

y=df[['price']]

In [45]:
x = sm.add_constant(x12)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.486
Model:                            OLS   Adj. R-squared:                  0.483
Method:                 Least Squares   F-statistic:                     171.0
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           5.22e-78
Time:                        21:55:17   Log-Likelihood:                -6157.5
No. Observations:                 546   AIC:                         1.232e+04
Df Residuals:                     542   BIC:                         1.234e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2418.2926   3779.412     -0.640      0.523   -9842.383    5005.798
lotsize        5.4112      0.388     13.947      0.000       4.649       6.173
bathrms     1.975e+04   1785.083     11.064      0.000    1.62e+04    2.33e+04
bedrooms    5826.8024   1206.571      4.829      0.000    3456.675    8196.930
==============================================================================
Omnibus:                       69.878   Durbin-Watson:                   1.394
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              141.218
Skew:                           0.734   Prob(JB):                     2.16e-31
Kurtosis:                       5.014   Cond. No.                     2.64e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.64e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [46]:
x13= df[['lotsize','bathrms','stories']]

y=df[['price']]

In [47]:
x = sm.add_constant(x13)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.531
Model:                            OLS   Adj. R-squared:                  0.528
Method:                 Least Squares   F-statistic:                     204.5
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           1.11e-88
Time:                        21:55:17   Log-Likelihood:                -6132.7
No. Observations:                 546   AIC:                         1.227e+04
Df Residuals:                     542   BIC:                         1.229e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1245.4329   2817.543      0.442      0.659   -4289.209    6780.074
lotsize        5.5018      0.369     14.893      0.000       4.776       6.227
bathrms     1.817e+04   1680.109     10.813      0.000    1.49e+04    2.15e+04
stories     8399.5738    956.680      8.780      0.000    6520.319    1.03e+04
==============================================================================
Omnibus:                      105.772   Durbin-Watson:                   1.488
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              271.829
Skew:                           0.972   Prob(JB):                     9.40e-60
Kurtosis:                       5.858   Cond. No.                     2.11e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.11e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [48]:
x14= df[['lotsize','bedrooms','bathrms','stories','garagepl']]

y=df[['price']]

In [49]:
x = sm.add_constant(x14)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.561
Model:                            OLS   Adj. R-squared:                  0.557
Method:                 Least Squares   F-statistic:                     138.2
Date:                Thu, 28 Jan 2021   Prob (F-statistic):           3.38e-94
Time:                        21:55:17   Log-Likelihood:                -6114.4
No. Observations:                 546   AIC:                         1.224e+04
Df Residuals:                     540   BIC:                         1.227e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -2063.6401   3521.887     -0.586      0.558   -8981.919    4854.639
lotsize        4.7334      0.380     12.462      0.000       3.987       5.480
bedrooms    2388.4877   1184.232      2.017      0.044      62.222    4714.754
bathrms     1.615e+04   1695.695      9.523      0.000    1.28e+04    1.95e+04
stories     7879.4411    981.463      8.028      0.000    5951.487    9807.395
garagepl    5371.9533    953.520      5.634      0.000    3498.890    7245.017
==============================================================================
Omnibus:                       69.054   Durbin-Watson:                   1.534
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              149.357
Skew:                           0.703   Prob(JB):                     3.69e-33
Kurtosis:                       5.143   Cond. No.                     2.66e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.66e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [50]:
x15= df6[['lotsize','bedrooms','bathrms','stories','garagepl','yes','yes','yes','yes','yes','yes']]

y=df6[['price']]

In [51]:
x = sm.add_constant(x15)
 
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.673
Model:                            OLS   Adj. R-squared:                  0.666
Method:                 Least Squares   F-statistic:                     99.97
Date:                Thu, 28 Jan 2021   Prob (F-statistic):          6.18e-122
Time:                        21:55:17   Log-Likelihood:                -6034.1
No. Observations:                 546   AIC:                         1.209e+04
Df Residuals:                     534   BIC:                         1.214e+04
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -4038.3504   3409.471     -1.184      0.237   -1.07e+04    2659.271
lotsize        3.5463      0.350     10.124      0.000       2.858       4.234
bedrooms    1832.0035   1047.000      1.750      0.081    -224.741    3888.748
bathrms     1.434e+04   1489.921      9.622      0.000    1.14e+04    1.73e+04
stories     6556.9457    925.290      7.086      0.000    4739.291    8374.600
garagepl    4244.8290    840.544      5.050      0.000    2593.650    5896.008
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
yes         1114.6298    340.874      3.270      0.001     445.011    1784.249
yes          751.8806    316.660      2.374      0.018     129.829    1373.932
yes          908.7309    264.671      3.433      0.001     388.808    1428.654
yes         2138.5677    536.266      3.988      0.000    1085.118    3192.018
yes         2105.4817    259.170      8.124      0.000    1596.364    2614.600
yes         1561.5855    278.182      5.614      0.000    1015.121    2108.050
==============================================================================
Omnibus:                       93.454   Durbin-Watson:                   1.604
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              247.620
Skew:                           0.853   Prob(JB):                     1.70e-54
Kurtosis:                       5.824   Cond. No.                     1.09e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.45e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""